
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}

body {
    background: #ecececdb;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: -50% auto;
    padding: 5px;
    gap: 20px;
}

.card-list .card-item {
    background: #fff;
    padding: 12.5px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}

.card-list .card-item:hover {
    border: 2px solid #000;
}

.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 5px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-list .Reproductive {
    background-color: #F7DFF5; 
    color: #B22485;
}   

.card-list .Sex {
    background-color: #d1e8ff;
    color: #2968a8;
}

.card-list .FP{
    background-color: #d6f8d6; 
    color: #205c20;
}

.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 10px;
    font-weight: 400;
}

.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 20px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow  {
    background: #000;
    color: #fff; 
}

@media (max-width: 1024px) {
    .card-list .card-item {
        padding: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .card-list {
        margin: 0px auto;
    }
}


.articles-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 7.6rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    clip: rect(0px, 2000px, 400px, 0px);
    z-index: -1;
}


.article-cards{
    padding-top: 9rem;
    display: flex;
    align-items: center;
} 

.Heading{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Heading h2{
    padding-top: 8%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: #000;
}

.Underline h3{
    font-family: "Montserrat",  sans-serif;
    font-size: 21.5px;
    text-align: center;
    color: #4D4D4D;
    text-align: center;
    font-optical-sizing: auto;
    margin-top: 10px;
    font-weight: 100;
}

.article-cards{
    height: 100vh;
}