.admin-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
}
.admin-clinic-container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  background: linear-gradient(149deg, rgba(245, 173, 207, 1) 25%, rgba(195, 255, 159, 1) 55%, rgba(253, 176, 255, 1) 83%);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.adminpage-infro-margaret{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.admin-profile-container {
  top: 136px;
  left: 5%;
  width: 60%;
  max-width: 60%;
  height: 389px;
  display: flex;
  position: absolute;
  border-radius: 20px;
  flex-shrink: 1;
  background-color: rgba(252, 252, 252, 1);
}
.admin-view-page{
  top: 225px;
  left: 237.51751708984375px;
  width: 660.7306518554688px;
  height: 96px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.admin-docs {
  top: 7px;
  left: 511.74237060546875px;
  color: rgba(173, 167, 167, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-staffs {
  top: 45px;
  left: 512.1913452148438px;
  color: rgba(173, 167, 167, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-title{
  top: 25px;
  color: rgba(75, 75, 75, 1);
  width: 299px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-count-staffs {
  top: 64px;
  left: 539.1285400390625px;
  color: rgba(170, 217, 70, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-count-docs {
  top: 21px;
  left: 539.1285400390625px;
  color: rgba(170, 217, 70, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.admin-add-btn {
  top: 320px;
  left: 228px;
  width: 19px;
  height: 16px;
  position: absolute;
}
.admin-cover {
  /* top: 5px; */
  /* left: 0px; */
  width:100%;
  height: 200px;
  position: absolute;
  border-radius: 20px 20px 0 0;
}
.btn-appointment {
  top: 319px;
  left: 251.5467529296875px;
  color: rgba(75, 75, 75, 1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  background: #C4FF9F;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  cursor: pointer;
}
.admin-logo {
  top: 148px;
  left: 48.68646240234375px;
  width: 162px;
  height: 160px;
  position: absolute;
}
.admin-clinic-name {
  top: 219px;
  left: 237.51751708984375px;
  color: rgba(30, 30, 30, 1);
  width: 406px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-st-margaret-intro {
  top: 136px;
  left : 71%;
  width: 455px;
  height: 407px;
  display: flex;
  position: absolute;
  flex-shrink: 1;
}

/* .admin-profileusersviewofclinicpage-line3 {
  top: 76px;
  left: 8.9566650390625px;
  width: 416px;
  height: 1px;
  position: absolute;
} */
.information-st-margaret{
  background-color: white;
  border-radius: 10%;
  width: 100%;
  height: 95.5%;
  display: flex;
  flex-direction: column;
}
.intro-style{
  top: 20px;
  left: 24.3988037109375px;
  color: rgba(30, 30, 30, 1);
  width: 384px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Arimo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-info-style {

  color: rgba(102, 102, 102, 1);
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 66.3988037109375px;
  font-size: 19px;
  font-style: Bold;
  text-align: left;
  font-family: Arimo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-info-style span{
  margin-top: 5%;
}
.admin-page, .admin-location, .admin-contact, .admin-email {
  color: rgba(102, 102, 102, 1);
}


.admin-clock {
  color: rgba(170, 217, 70, 1);
}

.images-styles img{
  display: flex;
  flex-direction: column;
  /* margin-bottom: 5%; */
}
.information-style {
  top: 70px;
  left: 25.3988037109375px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.place-marker-style {
  top: 132px;
  left: 24.3988037109375px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.phone-style {
  top: 200px;
  left: 25.3988037109375px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.letter-style {
  top: 252px;
  left: 24.3988037109375px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.clock-style {
  top: 307px;
  left: 25.3988037109375px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.admin-about-conntainer {
  top: 543px;
  width: 1375px;
  height: 350px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 20px;
}

.admin-about-footer{
  top: 20px;
  left: 32px;
  color: rgba(30, 30, 30, 1);
  width: 384px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Arimo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-information-about{
  top: 60px;
  left: 48px;
  color: rgba(75, 75, 75, 1);
  width: 1285px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Arimo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-services {
  top: 42%;
  left: 49px;
  color: rgba(30, 30, 30, 1);
  width: 384px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Arimo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-clinic-services {
  top: 190px;
  left: 50px;
  color: rgba(75, 75, 75, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Arimo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-clinic-services-2 {
  top: 190px;
  left: 487px;
  color: rgba(75, 75, 75, 1);
  width: 379px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Arimo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.admin-clinic-services-3 {
  top: 190px;
  left: 937px;
  color: rgba(75, 75, 75, 1);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Arimo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
