/* *{
  margin: 0;
  text-decoration: none;
  padding: 0;
} */

/* .header_master{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  text-decoration: none;
} */
.background_home{
  height: 50vh;
}
.page_name{
  text-decoration: none;
}
.page_name span{
  color:#A024A3;
}

.navbar_master{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  width: 100%;
  height: 7.5rem;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.page_name{
  color:#2c3e50;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  cursor: pointer;
}
.navbar_master ul{
  float: right;
  margin-right: 20px;
  
}
.navbar_master ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  cursor: pointer;
}
.navbar_master ul li a { 
  color:#2c3e50;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar_master .st-mar-style-font li a{
  color:#2c3e50;
}
.checkbtn{
  /* font-size: 30px; */
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.checkbtn img{
  width: 5%;
  float: right;
  
}
#check{
  display: none;
}
@media (max-width:1024px){
    .navbar_master .page_name{
      font-size: 30px;
    }
    .navbar_master ul li a{
      font-size: 13px;
    }
    .home_intro{
      margin-left: 11rem;
    }
}
@media (max-width: 952px){
  .page_name {
    font-size: 35px;
    margin-left: 26%;
    
  }
  .navbar_master ul li a{
    font-size: 16px;
  }
  .checkbtn{
    position: absolute;
    left: 0;
    right: 0;
    display: block;
  }
  .navbar_master ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 82px;
    left: -100%;
    background-color: aqua;
    text-align: center;
    transition: all .5s;
    z-index: 3;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .background_home .home_intro{
    border: none;
    /* box-shadow: none; */
    border-radius: 15rem;
    background-color: #A024A3;
    width:auto;
    height:auto;
    z-index: 2;
  }
  .home_intro {
    margin-top: 25rem;
    margin-left:18rem;
    z-index: -1;
  }
 .first_para {
    display: none;
  }
  .second_para{
    display: none;
  }
  .flex_more .assistant_intro{
    display: none;
  }
 .button_type  {
  font-size: 12px;
  text-align: center;
  width: auto;
  /* z-index: 1; */
  }
  .fix_moko .button_type{
    z-index: 4;
  }
  .picture_fix .home_picture img{
    z-index: -1;
  }
}
@media (max-width: 858px){
  .checkbtn{
    position: absolute;
    left: 0;
    right: 0;
    display: block;
  }
  .navbar_master ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 13%;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .navbar_master ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navbar_master ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .home_intro {
    margin-left:16rem;
  }
  
}

@media (max-width: 768px){
  .page_name{
    margin-top: 5%;
    margin-left: 24%;
  }
  .home_intro {
    margin-left:13.4rem;
  }
  
}
@media (max-width: 640px ){
  .page_name{
    margin-left: 17%;
  }
  .home_intro {
    margin-left:10rem;
  }
}
/* section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
} */

/* .navbar_master{
  display: flex;
  margin-right: 8%;
}

.navbar_master .st-margaret-nav, .plan-care-nav{
  text-decoration: none;
}

.navbar_master h1{
  color: #4d4d4d;
  font-size: 17px;
  font-family:'Montserrat', sans-serif;
  margin-left: 1.5rem;
  cursor: pointer;
} */

/* .classniline{
  position: absolute;
  height: 80px;
  left: 93.1%;
  top: 15%;
  border-right: solid 2px #4d4d4d;
} */
/* .nav-btn-responsive{
  position: absolute;
  right: 0;
} */

/* .hamber-responsive img{
  display: none;
  width: 5%;
  background-color: #A024A3;
  float: right;
  cursor: pointer;
} */

/* @media  (max-width: 952px){
  label.page_name{
    font-size: 30px;
    padding-left: 50px;
  }
  .navbar_master h1 {
    font-size: 14px;
  }
  .fix_more h1{
    font-size: 14px;
  }

  .fix_more{
    width: 3%;
  }
}
@media  (max-width: 858px){
 .hamber-responsive img{
  display: block;
 }
 .header_master h1{
  text-align: center;
  align-items: center;
 }
 .navbar_master {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: aqua;
  left: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: all .5s;
}
#check:checked ~ .navbar_master {
  left: 0;
}
} */
.fix_more{
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 20%;
  right: 3%;
  cursor: pointer;
}
.fix_more h1{
  margin: auto;
  text-align: center;
}
.home_intro{
  position: absolute;
  top: 23%;
  left: 8%;
  width: 480px;
  height: 460px;
  /* background-color: white; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
}

.first_para{
  /* color: #A024A3; */
  color: white;
  font-family:'Montserrat', sans-serif;
  font-size: 35px;
  width: 85%;
  font-weight: 650;
  margin-top:8%;
  margin-left: 10%;
}

.second_para{
  width: 85%;
font-size: 16px;
color: #A024A3;
  color: white;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 10%;
  font-weight: 650;
  font-family:'Montserrat', sans-serif;
}

.flex_more{
  display: flex;
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 5%;
  width: 100%;
}
.flex_more p{
  font-size: 13px;
}
.assistant_intro{
  height: 5%;
  margin-right: 10%;
  background: #E9E9E9;
  display: flex;
  align-items: center;
  text-align: center;
  background: #A024A3;
  background-image: -webkit-linear-gradient(top, #A024A3, #A024A3);
  background-image: -moz-linear-gradient(top, #A024A3, #A024A3);
  background-image: -ms-linear-gradient(top, #A024A3, #A024A3);
  background-image: -o-linear-gradient(top, #A024A3, #A024A3);
  background-image: linear-gradient(to bottom, #A024A3, #A024A3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family:'Montserrat', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
}


.fix_moko{
  display: flex;
  justify-content: center;
  
}

.button_type{
  background: #A024A3;
  background-image: -webkit-linear-gradient(top, #A024A3, #A024A3);
  background-image: -moz-linear-gradient(top, #A024A3, #A024A3);
  background-image: -ms-linear-gradient(top, #A024A3, #A024A3);
  background-image: -o-linear-gradient(top, #A024A3, #A024A3);
  background-image: linear-gradient(to bottom, #A024A3, #A024A3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family:'Montserrat', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
}
.button_type:hover{
  background: #88488a;
  background-image: -webkit-linear-gradient(top, #88488a, A024A3);
  background-image: -moz-linear-gradient(top, #88488a, A024A3);
  background-image: -ms-linear-gradient(top, #88488a, A024A3);
  background-image: -o-linear-gradient(top, #88488a, A024A3);
  background-image: linear-gradient(to bottom, #88488a, A024A3);
  text-decoration: none;
}
.home_picture{
  /* object-fit: cover; */
  height: 52.688rem ;
  width: 100%;
  z-index: -1;
}