.container-ot{
    /* display: inline-block; */
    /* flex-direction: column; */
    margin-left: 3%;
    margin-top: 4%;

}
.container-ot h2{
    font-size: 75px;
    margin-bottom: 2%;
}
.box-style-ot{
    display: inline-block;
    text-align: center;
    background-image: url('../Components/Assets/pink_gradient.jpg');
    width: auto;
    height: auto;
    padding: 10%;
    border-radius: 1.5rem;
}
.box-style-ot p{
    font-size: 55px;
}
.box-style-ot .little-small{
    font-size: 35px;
}
.box-style-ot h1{
    font-size: 120px;
}
.box-style-ot button{
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 2rem;
    background-color: rgb(75, 230, 230);
}
.box-style-two{
    display: inline-block;
    background-image: url('../Components/Assets/violet_pink_bkg_img2.jpg');
    margin-left: 1%;
    padding: 6%;
    border-radius: 1rem;
    margin-bottom: 15%;
    height: auto;
    width: auto;
}
.box-style-two p{
    font-size: 25px;
    font-weight:500;
}
.box-style-third{
    display: inline-block;
    background-image: url('../Components/Assets/violet_pink_bkg_img2.jpg');
    margin-left: 1%;
    padding: 6%;
    padding-top: 8%;
    border-radius: 1rem;
    margin-bottom: 15%;
    height: auto;
    width: auto;
}
.box-style-third p{
    font-size: 25px;
    font-weight:500;
}