/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  position: absolute;
  top: 1700px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 2000px;
  background: #fff;
  border-radius: 0px;
  /* margin-top: 55; */
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .5rem;
  padding: 60px 240px;
}

.footer-row .footer-col h4 {
  color: #d24bd9;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: .5rem;
}

.footer-col .links {
  margin-top: 20px;
  gap: 1.2rem;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #520055;
}

.footer-col .links li a:hover {
  color: #ca1ad0;
}

.footer-col p {
  margin: 20px 0;
  color: #4f0057;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 100px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #600076 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover  {
  color: #fff;
}


@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  footer .container .row{
    width: 185%;
  }
  footer .text-center{
    width: 172%;
  }
}