.wrapper1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add other styles as needed */
    /* margin-top: 110%; */
    background-color: rgba(238, 97, 153, 0.36);
    width: 768px;
    height: 650px;
    padding-bottom: 2.1rem;
    margin-left: 11rem;
    font-family:"Montserrat",  sans-serif;
    border-radius: 0px 0px 20px 20px;
    color: rgb(43, 43, 43);
}

/* For 1 line of Ultrasound (US)*/
.input-US {
    display: flex;
    align-items: center;
    justify-content: space-between;
     /* Adjust as needed */

}
.input-US h2{
    font-size: 20px;
}
/* For 1 line of Ultrasound (US)*/
.input-USweeks, .input-USdays {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 0px; 
    /* Adjust as needed */
}
.input-USweeks h3 , .input-USdays h3{
    font-size: 15px;
}
.inp-usweeks{
    margin-left: 8%;
    padding: 2px;
    width: 5rem;
    border-radius: 5px;
    text-align: justify;
    font-weight: 700;
    font-size: large;
    height: 2rem;
}

.inp-usdays{
    margin-left: 10%;
    padding: 4px;
    width: 5rem;
    border-radius: 5px;
    text-align: justify;
    font-weight: 700;
    font-size: large;
    height: 2rem;
}

.input-EGAdays, .input-EGAweeks{
    display: flex;
    align-items: center;
}
.input-EGAdays h3, .input-EGAweeks h3{
    font-size: 15px;
}
.resetBtn{
    background-color: rgb(245, 245, 245);
    padding: 4px 12px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 40%
}

.LMP1 p{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.LMP1 h2{
    font-size: 20px;
}
.LMP1{
    margin-top: 15px;
    /* margin-left: 6%; */
}


.LMP1, .Conception1, .SecondTrimester1, .ThirdTrimester1, .DueDate1 {
    margin-bottom: 2%;
    /* margin-left: 5%; */
}
.LMP1,.DueDate1 h2{
    font-size: 20px;
}
.CycleLength-slider1 h2{
    font-size: 20px;
}
.CycleLength-slider1 input[type='range'] {
    /* Change the width to make the slider longer */
    width: 100%;
    
    /* Change the height to make the slider thicker */
    height: 14.5px;
    
    /* Appearance none to override browser default styles */
    -webkit-appearance: none;
    appearance: none;
    
    /* Add other styles as needed */
    background: rgba(186, 237, 154, 10);
    outline: none;
    opacity: 0.7;
    transition: opacity .4s;
    border-radius: 20px;
}

.CycleLength-slider1 input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 32px;
    background: rgb(224, 255, 205);
    cursor: pointer;
    border-radius: 20px;
}

.CycleLength-slider1 input[type='range']::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(224, 255, 205);
    cursor: pointer;
}

.Conception1 span{
    background-color: rgb(255, 255, 255);
    padding: 2px 20px;
    border-radius: 5px;
    margin-left: 12.8rem;
    font-size: 15px;
}
.Conception1 h2{
    font-size: 20px;
}
.DueDate1 span{
    background-color: rgb(255, 255, 255);
    padding: 2px 20px;
    border-radius: 5px;
    margin-left: 11rem;
    font-size: 15px;
}

.LMP1 span{
    background-color: rgb(255, 255, 255);
    padding: 2px 20px;
    border-radius: 5px;
    margin-left: 10rem;
    font-size: 15px;
}

.SecondTrimester1 span{
    background-color: rgb(255, 255, 255);
    padding: 2px 20px;
    border-radius: 5px;
    margin-left: 10.6rem;
    font-size: 15px;
}
.SecondTrimester1 h2{
    font-size: 20px;
}
.ThirdTrimester1 span{
    background-color: rgb(255, 255, 255);
    padding: 2px 20px;
    border-radius: 5px;
    margin-left: 11rem;
    font-size: 15px;
}
.ThirdTrimester1 h2{
    font-size: 20px;
}
/* For 1 line of Estimated Gestational Age (EGA) */
.EGA1 h2{
    text-align: center;
    font-size: 20px;
}
.input-EGA {
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    gap: 40px; /* Adjust as needed */
}

/* For 1 line of Estimated Gestational Age (EGA) */
.input-EGAweeks, .input-EGAdays {
    display: flex;
    align-items: center;
    gap: 3px; /* Adjust as needed */
}

.inp-EGAweeks{
    margin-left: 8%;
    padding: 4px;
    width: 5rem;
    border-radius: 5px;
    text-align: justify;
    font-weight: 700;
    font-size: large;
    height: 2rem;
}

.inp-EGAdays{
    margin-left: 8%;
    padding: 4px;
    width: 5rem;
    border-radius: 5px;
    text-align: justify;
    font-weight: 700;
    font-size: large;
    height: 2rem;
}

.wrapper1 p{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper1 h1{
    color: #363636;
    letter-spacing: .5px;
    font-size: 40px;
    text-align: center;
}